<img id="location" alt="">
<div class="caspian">caspian</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>Camp Location and Vehicle Information</h1>
      <form class="form-group" action="/camp_location/create" method="post">
        <label>Park Name
        <input class="form-control" type="text" name="park_name" placeholder="" ></label>
        <br />
        <label>Campsite Number
        <input class="form-control" type="text" name="site_number" placeholder="" ></label>
        <br />
        <label>Vehicle Make
        <input class="form-control" type="text" name="vehicle_make" placeholder="" ></label>
        <br />
        <label>Vehicle Model
        <input class="form-control" type="text" name="vehicle_model" placeholder="" ></label>
        <br />
        <label>Vehicle Year
        <input class="form-control" type="text" name="vehicle_year" placeholder="" ></label>
        <br />
        <label>Vehicle Color
        <input class="form-control" type="text" name="vehicle_color" placeholder="" ></label>
        <br />
        <label>Vehicle Plate
        <input class="form-control" type="text" name="vehicle_plate" placeholder="" ></label>
        <input class="btn btn-success form-control" type="submit" value="Next">
      </form>
    </div>
  </div>
</div>
