<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>Update Contact Information</h1>
      <form class="form-group" action="/medical/update" method="post">
        <label>Phone
        <input class="form-control" type="text" name="phone" placeholder="" ></label>
        <br />
        <label>Address
        <input class="form-control" type="text" name="address" placeholder="" ></label>
        <br />
        <label>City
        <input class="form-control" type="text" name="city" placeholder="" ></label>
        <br />
        <label>State
        <input class="form-control" type="text" name="state" placeholder="" ></label>
        <br />
        <label>Zip Code
        <input class="form-control" type="text" name="zip_code" placeholder="" ></label>
        <br />
        <label>Country
        <input class="form-control" type="text" name="country" placeholder="" ></label>
        <br />
        <label>In Case of Emergency Contact Name
        <input class="form-control" type="text" name="ice_name" placeholder="" ></label>
        <br />
        <label>In Case of Emergency Contact Relation
        <input class="form-control" type="text" name="ice_relation" placeholder="" ></label>
        <label>In Case of Emergency Contact Phone
        <input class="form-control" type="text" name="ice_phone" placeholder="" ></label>
        <input class="btn btn-success form-control" type="submit" value="Save Changes">
      </form>
    </div>
  </div>
</div>
