<img id="bg-contact" alt="">
<div class="caspian">caspian</div>

<div class="container">
  <div class="row top">
    <div class="col-md-2"></div>

    <div class="col-md-8">
      <h1 class="white">Contact</h1>
      <form class="form-group" action="/contact/create" method="post">
        <label><p class="white">Phone</p>
        <input class="form-control" type="text" name="phone" placeholder="" ></label>
        <br />
        <label><p class="white">Address</p>
        <input class="form-control" type="text" name="address" placeholder="" ></label>
        <br />
        <label><p class="white">City</p>
        <input class="form-control" type="text" name="city" placeholder="" ></label>
        <br />
        <label><p class="white">State</p>
        <input class="form-control" type="text" name="state" placeholder="" ></label>
        <br />
        <label><p class="white">Zip Code</p>
        <input class="form-control" type="text" name="zip_code" placeholder="" ></label>
        <br />
        <label><p class="white">Country</p>
        <input class="form-control" type="text" name="country" placeholder="" ></label>
        <br />
        <label><p class="white">In Case of Emergency Contact Name</p>
        <input class="form-control" type="text" name="ice_name" placeholder="" ></label>
        <br />
        <label><p class="white">In Case of Emergency Contact Relation</p>
        <input class="form-control" type="text" name="ice_relation" placeholder="" ></label>
        <label><p class="white">In Case of Emergency Contact Phone</p>
        <input class="form-control" type="text" name="ice_phone" placeholder="" ></label>
        <input class="btn btn-success" type="submit" value="Next">
      </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
