

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>Update Medical Information</h1>
      <form class="form-group" action="/medical/update" method="post">
        <label>Allergies
        <input class="form-control" type="text" name="allergies" placeholder="" ></label>
        <br />
        <label>Diseases
        <input class="form-control" type="date" name="diseases" placeholder="" ></label>
        <br />
        <label>Medication + Dosage
        <input class="form-control" type="text" name="medication_dosage" placeholder="" ></label>
        <br />
        <label>Smoking (Y/N)
        <input class="form-control" type="text" name="smoking" placeholder="" ></label>
        <br />
        <label>Alcohol (Y/N)
        <input class="form-control" type="text" name="alcohol" placeholder="" ></label>
        <br />
        <label>Implants or Prosthesis
        <input class="form-control" type="text" name="implants" placeholder="" ></label>
        <br />
        <label>Organ Donor
        <input class="form-control" type="text" name="organ_donor" placeholder="" ></label>
        <br />
        <input class="btn btn-success form-control" type="submit" value="Save Changes">
      </form>
    </div>
  </div>
</div>
