<img id="bg-medical" alt="">
<div class="caspian">caspian</div>

<div class="container">
  <div class="row top">
    <div class="col-md-2"></div>


    <div class="col-md-8">
      <h1 class="white">Medical</h1>
      <form class="form-group" action="/medical/create" method="post">
        <label><p class="white">Allergies</p>
        <input class="form-control" type="text" name="allergies" placeholder="" ></label>
        <br />
        <label><p class="white">Diseases</p>
        <input class="form-control" type="text" name="diseases" placeholder="" ></label>
        <br />
        <label><p class="white">Medication + Dosage</p>
        <input class="form-control" type="text" name="medication_dosage" placeholder="" ></label>
        <br />
        <label><p class="white">Smoking (Y/N)</p>
        <input class="form-control" type="text" name="smoking" placeholder="" ></label>
        <br />
        <label><p class="white">Alcohol (Y/N)</p>
        <input class="form-control" type="text" name="alcohol" placeholder="" ></label>
        <br />
        <label><p class="white">Implants or Prosthesis</p>
        <input class="form-control" type="text" name="implants" placeholder="" ></label>
        <br />
        <label><p class="white">Organ Donor (Y/N)</p>
        <input class="form-control" type="text" name="organ_donor" placeholder="" ></label>
        <br />
        <input class="btn btn-success form-control" type="submit" value="Next">
      </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
