<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="section-heading">404 - Not Found! - <a href="/">Return to Homepage</a></h1>

              <img class="img-responsive img-center" src="/404.jpg" alt="404 not found">

        </div>
    </div>
</div>
