<img id="bg-personal" alt="">
<div class="caspian">caspian</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>Personal Information</h1>
      <form class="form-group" action="/personal/create" method="post">
        <label>Full Name
        <input class="form-control" type="text" name="name" placeholder="" ></label>
        <br />
        <label>Birthdate
        <input class="form-control" type="date" name="birthdate" placeholder="" ></label>
        <br />
        <label>Gender
        <input class="form-control" type="text" name="gender" placeholder="" ></label>
        <br />
        <label>Height (cm)
        <input class="form-control" type="text" name="height" placeholder="" ></label>
        <br />
        <label>Weight (kg)
        <input class="form-control" type="text" name="weight" placeholder="" ></label>
        <br />
        <label>Blood Type
        <input class="form-control" type="text" name="blood_type" placeholder="" ></label>
        <br />
        <input class="btn btn-success form-control" type="submit" value="Next">
      </form>
    </div>
  </div>
</div>
