vehicle_color VARCHAR(255), vehicle_plate VARCHAR(255));



<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="edit.html" >Edit Profile</A>

        <A href="edit.html" >Logout</A>
       <br>
<p class=" text-info">May 05,2014,03:00 pm </p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

          <div class="panel panel-info">
            <div class="panel-heading">

              <h3 class="panel-title">name GOES HERE</h3>

            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>
                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <h3>---------PERSONAL INFO---------</h3>
                    <dt>BIRTHDATE:</dt>
                      <dd>birthdate GOES HERE</dd>
                    <dt>GENDER</dt>
                       <dd>gender GOES HERE</dd>
                    <dt>HEIGHT</dt>
                      <dd>height GOES HERE</dd>
                    <dt>WEIGHT</dt>
                      <dd>weight GOES HERE</dd>
                    <dt>BLOOD TYPE</dt>
                      <dd>blood_type GOES HERE</dd>
                  </dl>
                </div>
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <h3>---------CONTACT INFO---------</h3>
                      <tr>
                        <td>PHONE</td>
                        <td>phone GOES HERE</td>
                     </tr>
                      <tr>
                        <td>IN CASE OF EMERGENCY CONTACT</td>
                        <td>ice_name GOES HERE</td>
                      </tr>
                      <tr>
                        <td>IN CASE OF EMERGENCY RELATION</td>
                        <td>ice_relation GOES HERE</td>
                      </tr>
                      <tr>
                        <td>IN CASE OF EMERGENCY PHONE</td>
                        <td>ice_phone GOES HERE</td>
                      </tr>

                      <h3>---------MEDICAL INFO---------</h3>
                      <tr>
                        <td>ALLERGIES</td>
                        <td>allergies GOES HERE</td>
                     </tr>
                      <tr>
                        <td>DISEASES</td>
                        <td>diseases GOES HERE</td>
                      </tr>
                      <tr>
                        <td>MEDICATION & DOSAGE</td>
                        <td>medication_dosage GOES HERE</td>
                      </tr>
                      <tr>
                        <td>SMOKING</td>
                        <td>smoking GOES HERE</td>
                      </tr>
                      <tr>
                        <td>ALCOHOL</td>
                        <td>alcohol GOES HERE</td>
                      </tr>
                      <tr>
                        <td>IMPLANTS OR PROSTHESIS</td>
                        <td>implants GOES HERE</td>
                      </tr>
                      <tr>
                        <td>ORGAN DONOR</td>
                        <td>organ_donor GOES HERE</td>
                      </tr>
                      <h3>---------CAMP & VEHICLE LOCATION---------</h3>
                      <tr>
                        <td>PARK NAME</td>
                        <td>park_name GOES HERE</td>
                     </tr>
                      <tr>
                        <td>CAMPSITE NUMBER</td>
                        <td>site_number GOES HERE</td>
                      </tr>
                      <tr>
                        <td>VEHICLE MAKE</td>
                        <td>vehicle_make GOES HERE</td>
                      </tr>
                      <tr>
                        <td>VEHICLE MODEL</td>
                        <td>vehicle_model GOES HERE</td>
                      </tr>
                      <tr>
                        <td>VEHICLE YEAR</td>
                        <td>vehicle_year GOES HERE</td>
                      </tr>
                      <tr>
                        <td>VEHICLE COLOR</td>
                        <td>vehicle_color GOES HERE</td>
                      </tr>
                      <tr>
                        <td>VEHICLE COLOR</td>
                        <td>vehicle_plate GOES HERE</td>
                      </tr>

                    </tr>
                    </tbody>
                  </table>

                  <a href="#" class="btn btn-primary">My Sales Performance</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>

          </div>
        </div>
      </div>
    </div>
